:root {
/*    --mint: #a1fcdf;
    --pink: #d5aca9;
*/
    --yellow: #dddbb3;
    --white: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    background-color: #232324;
    font-family:'Cardo', Times, serif;
    font-size: 14px;
    color: var(--white);
}

h2 {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--yellow);
    letter-spacing: 2px;
    margin-bottom: 50px;
}

a {
    font-family:'Cardo', Times, serif;
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.container {
    display: flex;
    width: 600px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 100px auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.75);
}

.container p {
    background: transparent;
    text-align: justify;
    line-height: 2em;
    margin-bottom: 30px;
}

/* inside card container */
.container .card {
    display: flex;
    flex: 1 1 auto;
    display: block;
    padding: 30px;
}

img {
    max-width: 100%;
}

h3 {
    font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    color: var(--yellow);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto;
}

.container .btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    width: 30%;
    background-color: #222222;
    font-size: 18px;
    color: var(--yellow);
    text-align: center;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

button:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: var(--yellow);
    color: #333333;
}

/* end card container */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}