:root {
/*    --mint: #a1fcdf;
    --pink: #d5aca9;
*/
    --yellow: #dddbb3;
    --white: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232324;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--white);
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--yellow);
    letter-spacing: -1px;
    margin-bottom: 25px;
}

a {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.container {
    display: flex;
    width: 35%;
    flex: 1 1 70%;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.container p {
    background: transparent;
    line-height: 2em;
}

/* inside card container */
.container .card {
    display: flex;
    flex: 1 1 auto;
    display: block;
    padding: 30px;
}

img {
    max-width: 100%;
}

h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: normal;
    color: var(--yellow);
    text-align: center;
    font-style: italic;
    letter-spacing: -1px;
    margin: 20px auto;
}

.container .btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    width: 30%;
    background-color: #0f0f0f;
    font-size: 18px;
    color: var(--yellow);
    text-align: center;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

button:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: var(--yellow);
    color: #333333;

}

/* end card container */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}